accelerate
diffusers @ git+https://github.com/initml/diffusers.git@main
transformers >= 4.34.0
ftfy
spaces
peft >= 0.6.0
sentencepiece==0.2.0
optimum
beautifulsoup4
gradio==4.29.0
gradio_imageslider
pydantic==2.8.2
pydantic-core==2.20.1
fastapi==0.112.4
# Only for windows
https://huggingface.co/MonsterMMORPG/SECourses/resolve/main/triton-2.1.0-cp310-cp310-win_amd64.whl ; platform_system == "Windows"
--extra-index-url https://download.pytorch.org/whl/cu121
